body {
    background-image: url(/Content/divisions-bg.png);
}

a {
    color: darkblue;
    font-size: 16px;
    font-weight: 700;
}

    a:hover {
        text-decoration: none;
        color: white;
    }


td, dd {
    color: dimgrey;
    font-family: 'Thasadith', sans-serif;
    font-weight: 900;
    font-size: 16px;
}

th, dt {
    color: black;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
}

p {
    color: darkblue;
    font-size: 18px;
}

h2 {
    font-family: 'Fira Sans Condensed', sans-serif;
    color: black;
    font-weight: 600;
}
