<style>
    p {
        font-family: 'Thasadith', sans-serif;
        font-weight: 600;
        font-size: 18px;
        color:black;
        text-indent:80px;
    }
    h2 {
        font-family: 'Thasadith', sans-serif;
        font-weight: 700;
        font-size: 24px;
        color: darkblue;
        text-align:center;
    }
</style>
@{
    ViewBag.Title = "About";
}
<br/>
<br/>
<p>Shady Side Academy is a nationally respected private school in Pittsburgh for boys and girls in grades pre-kindergarten through 12, with an optional boarding experience in high school. Four age-specific campuses with extraordinary resources, teachers who actively mentor, a forward-thinking curriculum, a diverse and inclusive community, and a legacy of alumni accomplishments all inspire Shady Side students to high achievement in academics, the arts and athletics, and to meaningful ambitions in life.</p>

<h2>Four Campuses, One Academy</h2>
<p>To meet the specific needs of children in various life stages, Shady Side Academy is set on four unique campuses. From the neighborhood setting of the Junior School (PK-5) in the East End to the suburban setting of the Country Day School (PK-5), Middle School (6-8) and Senior School (9-12) in Fox Chapel, students are part of something special. Small class sizes encourage a strong sense of community.</p>

<h2>A Balanced Approach</h2>
<p>
    At Shady Side Academy, there is a holistic approach to education with a commitment to students’ academic, physical and emotional development. Putting that approach into action is a caring faculty and staff, dedicated to fostering a true love of learning in students. Our hands-on curriculum explores topics across all disciplines – from the STEM fields of science, technology, engineering and mathematics to the humanities and the arts – with the goal of developing well-rounded individuals ready to excel on whatever path they take in life.

    Our academic program provides a challenging yet nurturing atmosphere in which learning occurs at the highest levels. The broad academic program exists in an atmosphere that encourages inquiry, questioning, self-determination and creativity. Small class sizes encourage a strong sense of community. Technology is integrated throughout PK-12 classrooms.

    Arts and athletics are an integral part of the curriculum. Visual and performing arts are intertwined into all levels of learning, and students are encouraged to explore an array of athletic options. Extracurricular clubs and activities support students’ diverse interests, including community service.
</p>

<h2>Experts in Education</h2>
<p>Our faculty members are leaders in their respective fields. More than 75 percent of our teachers hold advanced degrees, and they participate in ongoing professional development activities. They believe in a traditional approach to learning while developing creative curricula and determining how to best meet the needs of individual students.</p>

<h2>Preparing for College and Beyond</h2>
<p>Senior School students refine critical thinking, writing and analytical skills that distinguish them in the college search, while three full-time college counselors help them prepare for the next stage of their academic careers. SSA enjoys a 100 percent college matriculation rate.

An optional boarding program at the Senior School provides a preview of college life to help ease that future transition. Students can board for either five or seven days a week.</p>
