<style>
    p {
        font-family: 'Thasadith', sans-serif;
        font-weight: 600;
        font-size: 18px;
        color: black;
    }

    h2 {
        font-family: 'Thasadith', sans-serif;
        font-weight: 700;
        font-size: 24px;
        color: darkblue;
        text-align: center;
    }
</style>
@{
    ViewBag.Title = "Contact";
}
<br/>
<br/>
<h2>PRESIDENT'S OFFICE</h2>
<p>423 Fox Chapel Road</p>
<p>Pittsburgh, PA 15238</p>
<p>412-968-3130 phone</p>
<p>412-968-3213 fax</p>
<br/>
<p>Academy President - Bartley P. Griffith</p>
<p>president@shadysideacademy.org</p>
<br/>
<br/>
<p>Director of Administration and Planning - Debra Mauder</p>
<p>dmauder@shadysideacademy.org</p>
