<style>
    p {
        font-family: 'Thasadith', sans-serif;
        font-weight: 600;
        font-size: 18px;
        color: black;
        text-align: center;
    }

    h2 {
        font-family: 'Thasadith', sans-serif;
        font-weight: 700;
        font-size: 24px;
        color: darkblue;
        text-align: center;
    }
</style>
@{
    ViewBag.Title = "Home Page";
}

<img class="logo-picture"
     src="~/Content/logo.png"
     alt="Logo of the school">

<h2>Welcome!</h2>
<p>
    Feel free to explore our website.
</p>   
<p>
    If you're the administrator or a professor -
</p> 
<p>please login to your account so you can have access to more functions.</p>
